# dev | prod
AIGN_APP_ENV=dev

AIGN_APP_NAME=AI Global News API
AIGN_APP_VERSION=0.1.0
AIGN_DEBUG=true
AIGN_LOG_LEVEL=DEBUG

AIGN_MYSQL_HOST=127.0.0.1
AIGN_MYSQL_PORT=3306
AIGN_MYSQL_USER=ai_news
AIGN_MYSQL_PASSWORD=change_me
AIGN_MYSQL_DB=ai_global_news
